.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  background-color: #e9d5ff;
  color: #581c87;
  border-radius: 1rem;
  border-bottom: 2px solid;
  margin: auto;
  padding: 20px 0;
}
h3 {
  color: #581c87;
}
body {
  background-color: #ede9fe;
}
